<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    

    <add name="Concentrador2.Properties.Settings.dbCreditoConexion"
        connectionString="Data Source=192.168.0.2;Initial Catalog=dbCredito;Persist Security Info=True;User ID=sa;Password=Admin123"
        providerName="System.Data.SqlClient" />

    <add name="Concentrador2.Properties.Settings.dbCreditoConexionATQ"
          connectionString="Data Source=192.168.1.2;Initial Catalog=dbCredito;Persist Security Info=True;User ID=sa;Password=Admin123"
          providerName="System.Data.SqlClient" />

    <add name="Concentrador2.Properties.Settings.dbCreditoConexionIXT"
          connectionString="Data Source=192.168.2.2;Initial Catalog=dbCredito;Persist Security Info=True;User ID=sa;Password=Admin123"
          providerName="System.Data.SqlClient" />

    <add name="Concentrador2.Properties.Settings.dbCreditoConexionTLA"
          connectionString="Data Source=192.168.3.2;Initial Catalog=dbCredito;Persist Security Info=True;User ID=sa;Password=Admin123"
          providerName="System.Data.SqlClient" />
    
    <add name="Concentrador2.Properties.Settings.dbCreditoConexionMySQL"
      connectionString="server=127.0.0.1;user id=root;password=;database=dbcredito;persistsecurityinfo=True;port=3306"
      providerName="MySql.Data.MySqlClient" />
    <!-- 
      <add name="Concentrador2.Properties.Settings.dbCreditoConexionMySQL"
       connectionString="server=www.casaguerrero.com.mx;user id=casaguer_migrar;password=Jy38rx@Ma8IG;database=casaguer_dbcredito;persistsecurityinfo=True;port=3306"
       providerName="MySql.Data.MySqlClient" />
 -->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>